:root {
    --imgsize: 260px;
}

#main {
    position: absolute;
    width: 800px;
    height: 600px;
    border: solid black;
    left: 200px;
}

#game {
    position: relative;
    width: 500px;
    height: 600px;
    border: solid black;
    left: -700px;
    bottom: 110px;
    background-image: url("media/bilder/background.jpg");
}

#tesla {
    position: absolute;
    background-image: url("media/bilder/tesla.png");
    left: 0px;
    top: 400px;
    background-position-x: center;
    background-size: contain;
    width: var(--imgsize);
    height: calc(var(--imgsize)* 0.6);
    background-repeat: no-repeat;
}

#info {
    position: absolute;
    right: -250px;
    top: 50px;
    border: solid black;
    width: 200px;
    height: 56px;
}