:root {
    --imgsize: 260px;
}

#header {
    position: absolute;
    width: 320px;
    height: 100px;
    left: 200px;
}
.header {
    padding: 1px;
    background: black;
    text-align: center;
    color: white;
    font-size: 35px;
}

#main {
    position: absolute;
    width: 800px;
    height: 600px;
    border: solid grey 2px;
    left: 200px;
}

#wasd {
    position: absolute;
    background-image: url("media/bilder/wasd.png");
    left: 20px;
    top: 400px;
    background-position-x: center;
    background-size: contain;
    width: var(--imgsize);
    height: calc(var(--imgsize)* 0.5);
    background-repeat: no-repeat;
}

#cybertruck {
    position: absolute;
    background-image: url("media/bilder/cybertruck.png");
    left: 20px;
    top: 200px;
    background-position-x: center;
    background-size: contain;
    width: var(--imgsize);
    height: calc(var(--imgsize));
    background-repeat: no-repeat;
}

#game {
    position: relative;
    width: 500px;
    height: 600px;
    border: grey 1px solid;
    left: -547px;
    bottom: 107px;
    background-image: url("media/bilder/background.jpg");
}

#stripe1, #stripe2, #stripe3, #stripe4, #stripe5, #stripe6, #stripe7, #stripe8, #stripe9, #stripe10, #stripe11, #stripe12 {
    position: absolute;
    background-image: url("media/bilder/gul\ linje.png");
    height: calc(var(--imgsize)*0.6);
    width: calc(var(--imgsize)*0.5);
    top: 0px;
    left: -10px;
    background-position-x: center;
    background-size: contain;
    background-repeat: none;
    animation: movelines linear 5s infinite;
}
#stripe2, #stripe6, #stripe10 {
    left: 100px;
}
#stripe3, #stripe7, #stripe11 {
    left: 210px;
}
#stripe4, #stripe8, #stripe12 {
    left: 320px;
}
 #stripe5, #stripe6, #stripe7, #stripe8 {
    top: 280px;
}
#stripe9, #stripe10, #stripe11, #stripe12 {
    top: 530px;
}

@keyframes movelines {
    100% {top: 200px;}
}

#tesla {
    position: absolute;
    background-image: url("media/bilder/tesla.png");
    left: -20px;
    top: 400px;
    background-position-x: center;
    background-size: contain;
    width: var(--imgsize);
    height: calc(var(--imgsize)* 0.6);
    background-repeat: no-repeat;
}

#info {
    position: absolute;
    right: -250px;
    top: 50px;
    border: solid black;
    width: 200px;
    height: 56px;
}

#start {
    position: absolute;
    left: 80%;
    top: 60%;
    font-size: 5rem;
    background-color: black;
    color: white;
}